html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background: #1d1d1d;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.dropdown-item.disabled {
  color:#949494;
}

header svg {
  color: rgba(236, 204, 142, 100%);
}

.navbar-toggler {
  background: #4f4f4f;
}


.header-background {
  position: relative;
  min-height: 700px;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.header-background .row {
  min-height: 700px;
  display: flex;
  align-items: center;
}

.header-content {
  text-align: center;
  position: relative;
  z-index: 2;
  color: #d9d9d9;
}

.header-content h1 {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 0.2em;
}

.header-content h4 {
  font-size: 21px;
  font-weight: 400;
  margin-bottom: 1em;
  color: #d9d9d9dd;
}

.btn-main {
  display: inline-block;
  padding: 10px 35px;
  text-decoration: none;
  color:#0b0b0b;
  font-size: 18px;
  border: none;
  background: #232526;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */   
  text-transform: uppercase;
  border-radius: 5px;
  font-weight: 620;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
  transition: all 0.09s ease-out;
}

.btn-main:hover {
  transform: scale(1.05);
  box-shadow: 0 5px 10px #232526;
}

main {
  flex: 1 1 auto;
}

.presentation {
  margin-top: 2em;
  color:#d9d9d9;
}

.presentation h5 {
  color: rgba(253, 242, 172, 100%);
}

.presentation a {
  text-decoration: none;
  color: rgba(236, 204, 142, 100%);
  transition: color 0.1s ease-in-out;
}

.presentation a:hover {
  color: rgb(247, 221, 170);
}

.products {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 2em;
  background: #0f0f0f;
  color:#d9d9d9;
}

.card-link {
  text-decoration: none;
  color: #d9d9d9;
  transition: transform 0.1s ease-in-out;
}

.card-link:hover {
  transform: scale(1.05);
}

.modal .fade .btn,
.btn-outline-secondary {
  background: #1d1d1d;
  color:rgba(236, 204, 142, 100%);
  border: none;
}

.tool-presentation {
  padding: 2em;
  color:#d9d9d9;
}

.tool-presentation h2 {
  color:rgba(236, 204, 142, 100%)
}

hr {
  margin: 20px 0;
  padding: 0;
  height: 10px;
  border: none;
  border-top: 1px solid #e9e9e9;
  box-shadow: 0 10px 10px -10px #d3d3d3 inset;
}

.tool-presentation-2 {
  padding: 2em;
  color:#d9d9d9;
  display: flex;
  flex-direction: column;
  text-align: end;
  align-items: end;
}

.tool-presentation-2 h2 {
  color:rgba(236, 204, 142, 100%)
}

footer {
  padding: 2em;
  background: #333;
  color:#e6e6e6;
}

.category {
  display: flex;
  flex-direction: column;
  text-align: center;
}

footer a {
  text-decoration: none;
  color:#adadad;
  transition: color 0.1s ease-in-out;
}

footer a:hover {
  color:#c4c4c4;
}